body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
h3 {
  color: #FFFFFF;
  font-size: 5px;
  line-height: 20px;
  padding-bottom: 4px;
}
